@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&family=Ubuntu+Mono:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    cursor: url("./images/cursor.png"), default !important;
}
head{
    color: rgb(197, 11, 101);
}